/* Reset default styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: #21092c;
    padding: 10px;
    top:0;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    color: #f8f8f8;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #0c22e9;
}
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set default font and color */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #aad2ff;
    width: 100%;
    
}

/* Add styles for headings */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
}

/* Add styles for paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 15px;
}

/* Add styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#About_me {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    
}

#About_me img {
    width: 350px;
    height: 350px;
    border-radius: 60%;
    margin-right: 10px;
}

#About_me p {
    width: 90%;
    margin: 10px;
    text-align: justify;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    
}


/* Reset default styl{es */
