/* Reset default styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: right;
    background-color: #2F4F4F;
    padding: 10px;
    width: 105%;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
}

nav li {
    margin: 0;
    padding: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    background-color: #555;
}
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Set default font and color */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #4e99e9;
    width: 94%;
}

/* Add styles for headings */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Add styles for paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Add styles for links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Reset default styles */
